<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB68hGA1L8lsLBB8hhEjKt_Jr0tiPg3EJg</string>
	<key>GCM_SENDER_ID</key>
	<string>895230679164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moeb26.app</string>
	<key>PROJECT_ID</key>
	<string>moeb26-7b4fc</string>
	<key>STORAGE_BUCKET</key>
	<string>moeb26-7b4fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895230679164:ios:2bba84aafd9c5fdc26d1f9</string>
</dict>
</plist>